{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
		<div class="card card-secondary">
		  <div class="card-header">
		    <h3 class="card-title">Supplier Detail of <b>{{obj.name}}</b></h3>
		  </div>
		    <div class="card-body">
		    	<div class="row">
					<div class="form-group col-md-6">
				    	<strong>Supplier Name: </strong>{{obj.name}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier Contact Person: </strong>{{obj.contact_person}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier Phone Number: </strong>{{obj.contact}}
				    </div>
					<div class="form-group col-md-6">
				    	<strong>Additional Phone Number: </strong>{{obj.contact_2}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier Email: </strong>{{obj.supplier_email}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Additional Email: </strong>{{obj.supplier_email_2}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier Website: </strong>{{obj.supplier_website}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier items: </strong>{{obj.supplier_items}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier items Status: </strong>{{obj.supplier_items_status}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Payment Methods: </strong>{{obj.payment_mode}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier Category: </strong>{{obj.supplier_category}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier Description: </strong>{{obj.description}}
				    </div>
				    <div class="form-group col-md-6">
				        <strong>Supplier Address: </strong>{{obj.address}}
				    </div>
		    	</div>
		    </div>
		    <div class="card-footer">
		      <a href="{% url 'supplier_update' obj.id %}" class="btn btn-warning"><i class="fa fa-edit"></i> Edit Supplier</a>&nbsp;
              <a href="{% url 'supplier_list' %}" class="btn btn-info"><i class="fa fa-chevron-left"></i> Go Back</a>
		    </div>
		</div>
</div>
</div>
{% endblock content %}