{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Updating School</h3>
  </div>
  <form method="POST">
  	{% csrf_token %}
    <div class="card-body">
    	<div class="row">
			<div class="form-group col-md-3">
				{{school_update_form.country|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.project_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.county_or_region_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.sub_county_or_Zone_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.district_or_woreda_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.school_code|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.school_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.school_level|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.school_ownership|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.school_area|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.po_box|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.phone_number_1|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.phone_number_2|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.website|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.female_teachers|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.male_teachers|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.female_students|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.male_students|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.female_sn_students|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{school_update_form.male_sn_students|as_crispy_field}}
			</div>
    	</div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Update School</button>
	  <a href="{% url 'school_list' %}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</a>
    </div>
  </form>
</div>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script>
    $("#id_county_or_region_name").change(function () {
      var url = $("#SchoolAddForm").attr("data-sub-county-zone-url");  // get the url of the `load_cities` view
      var county_id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'county_id': county_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_sub_county_or_Zone_name").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock content %}