{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="card card-secondary">
	<div class="card-header">
	<h3 class="card-title">Uploading Schools</h3>
	</div>
	<form method="POST" action="{% url 'school_upload' %}" id="SchoolUploadForm" data-sub-county-zone-url="{% url 'ajax_load_sub_county_zone' %}" enctype="multipart/form-data" novalidate>
	{% csrf_token %}
	<div class="card-body">
		<div class="row">
			<div class="form-group col-md-3">
				<label for="project" class="from-control">Please select School Project</label>
				<select name="project" id="id_project" class="form-control" required>
					<option selected="selected" disabled value="">------------Select One------------</option>
					{% for project in projects %}
					<option value="{{project.id}}">{{project.project_name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-md-3">
				<label for="county_region" class="from-control">Please select School County/Region</label>
				<select name="county_region" id="id_county_region" class="form-control" required>
					<option selected="selected" disabled value="">------------Select One------------</option>
					{% for county_region in county_regions %}
					<option value="{{county_region.id}}">{{county_region.county_or_region_name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-md-3">
				<label for="sub_county_zone" class="from-control">Please select School Sub-County/Zone</label>
				<select name="sub_county_zone" id="id_sub_county_zone" class="form-control" required>
					
				</select>
			</div>
			<div class="col-md-3"></div>
			<div class="form-group col-md-4">
				{{school_upload_form|crispy}}
			</div>
		</div>
		</div>
	</div>
	<div class="card-footer">
		<button type="submit" class="btn btn-success"><i class="fa fa-upload"></i> Upload School</button>
		<a class="btn btn-danger" href="{% url 'school_list' %}"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
	</div>
	</form>
</div>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script>
    $("#id_county_region").change(function () {
      var url = $("#SchoolUploadForm").attr("data-sub-county-zone-url");  // get the url of the `load_cities` view
      var county_id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'county_id': county_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_sub_county_zone").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}