{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="card card-secondary">
	<div class="card-header">
		<h1 class="card-title mt-1">Camara Hubs List</h1>
		<a href="{% url 'organization_hub_add' %}" class="btn btn-success btn-sm float-right"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Hub</a>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Hub Name</th>
					<th>Hub Code</th>
					<th>Hub Email</th>
					<!-- <th>Hub Phone</th> -->
					<th>Hub Country Director</th>
					<!-- <th>Hub Registration Year</th>
					<th>Hub Located Country</th> -->
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for organization_hubs in organization_hub_list %}
				<tr>
					<td>{{ organization_hubs.hub_name }}</td>
					<td>{{ organization_hubs.hub_code }}</td>
					<td>{{ organization_hubs.hub_email }}</td>
					<!-- <td>{{ organization_hubs.hub_phone }}</td> -->
					<td>{{ organization_hubs.hub_country_director }}</td>
					<!-- <td>{{ organization_hubs.hub_registration_year }}</td>
					<td>{{ organization_hubs.hub_located_country }}</td> -->
					<td>
						<a href="{% url 'organization_hub_detail' organization_hubs.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
        				<a href="{% url 'organization_hub_update' organization_hubs.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
						<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-dange{{organization_hubs.id}}r">
							<i class="fa fa-trash"></i> Delete</a>
						
						<div class="modal fade" id="modal-danger{{organization_hubs.id}}">
							<div class="modal-dialog">
							  <div class="modal-content ">
								<div class="modal-header bg-danger">
								  <h4 class="modal-title">Deleting Hub <strong>{{ organization_hubs.hub_name }}</strong></h4>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								  <p>Are you sure you want to Delete "{{ organization_hubs.hub_name }}" Hub?</p>
								</div>
								<div class="modal-footer justify-content-between">
								  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								  <a href="{% url 'organization_hub_delete' organization_hubs.id %}" class="btn btn-danger">Delete</a>
								</div>
							  </div>
							  <!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endblock content %}