{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Updating Computer</h3>
  </div>
  <form method="POST" action="{% url 'computer_update' obj.id %}" id="ComputerUpdateForm" data-os-version-url="{% url 'ajax_load_os_version' %}" novalidate>
  	{% csrf_token %}
    <div class="card-body">
    	<div class="row">
			<div class="form-group col-md-3">
				{{computer_update_form.hub|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.c_affritrack_number|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.serial_number|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.brand|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.model|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.donor_id|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.container_number|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.device_status|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.supplier|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.processor_type|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.processor_speed|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.memory_type|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.memory_size|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.storage_type|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.storage_size|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.os_type|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.os_version|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.working_status|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{computer_update_form.comment|as_crispy_field}}
			</div>
    	</div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Update Computer</button>
	  <a href="{% url 'computer_list' %}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</a>
    </div>
  </form>
</div>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script>
    $("#id_os_type").change(function () {
      var url = $("#ComputerUpdateForm").attr("data-os-version-url");  // get the url of the `load_cities` view
      var os_type_id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'os_type_id': os_type_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_os_version").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>
{% endblock content %}