{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="card card-secondary">
	<div class="card-header">
		<h1 class="card-title mt-1">Camara Computers List</h1>
		<a href="{% url 'computer_add' %}" class="btn btn-success btn-sm float-right ml-2"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Computer</a>
		<a href="{% url 'computer_upload' %}" class="btn btn-success btn-sm float-right"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload Computer</a>
	</div>
	<!-- /.card-header -->
	
	<div class="card-body">
		<div class="row">
			<div class="col-12 ">
			  <div class="card card-secondary card-tabs">
				<div class="card-header p-0 pt-1">
				  <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
					<li class="nav-item">
					  <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Working </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Processed </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Problematic </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">E-waste </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="custom-tabs-one-settings1-tab" data-toggle="pill" href="#custom-tabs-one-settings1" role="tab" aria-controls="custom-tabs-one-settings1" aria-selected="false">Dispatched </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="custom-tabs-one-settings2-tab" data-toggle="pill" href="#custom-tabs-one-settings2" role="tab" aria-controls="custom-tabs-one-settings2" aria-selected="false">All Computer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="custom-tabs-one-settings3-tab" data-toggle="pill" href="#custom-tabs-one-settings3" role="tab" aria-controls="custom-tabs-one-settings3" aria-selected="false">Not Recevied</a>
					</li>
				  </ul>
				</div>
				<div class="card-body">
				  <div class="tab-content" id="custom-tabs-one-tabContent">
					<div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Afritrack Number</th>
									<th>Serial Number</th>
									<th> Brand</th>
									<th> Container Number</th>
									<th>Processor Type</th>
									<th>RAM Size</th>
									<th>HDD/SDD Size</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for computer in working %}
								<tr>
									<td>{{ computer.c_affritrack_number }}</td>
									<td>{{ computer.serial_number }}</td>
									<td>{{ computer.brand }}</td>
									<td>{{ computer.container_number }}</td>
									<td>{{ computer.processor_type }}</td>
									<td>{{ computer.memory_size }}</td>
									<td>{{ computer.storage_size }}</td>
									<td>
										<a href="{% url 'computer_detail' computer.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
										<a href="{% url 'computer_update' computer.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
										{% if not request.user.userprofile.is_student %}
										<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{computer.id}}">
											<i class="fa fa-trash"></i> Delete</a>
										
										<div class="modal fade" id="modal-danger{{computer.id}}">
											<div class="modal-dialog modal-md">
											  <div class="modal-content ">
												<div class="modal-header bg-danger">
												  <h4 class="modal-title">Deleting <strong>{{ computer.c_affritrack_number }}</strong></h4>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <p>Are you sure you want to Delete <strong> {{ computer.c_affritrack_number }}</strong>?</p>
												</div>
												<div class="modal-footer justify-content-between">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												  <a href="{% url 'computer_delete' computer.id %}" class="btn btn-danger">Delete</a>
												</div>
											  </div>
											  <!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
						<table id="example2" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Afritrack Number</th>
									<th>Serial Number</th>
									<th> Brand</th>
									<th> Container Number</th>
									<th>Processor Type</th>
									<th>RAM Size</th>
									<th>HDD/SDD Size</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for computer in processed %}
								<tr>
									<td>{{ computer.c_affritrack_number }}</td>
									<td>{{ computer.serial_number }}</td>
									<td>{{ computer.brand }}</td>
									<td>{{ computer.container_number }}</td>
									<td>{{ computer.processor_type }}</td>
									<td>{{ computer.memory_size }}</td>
									<td>{{ computer.storage_size }}</td>
									<td>
										<a href="{% url 'computer_detail' computer.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
										{% if not request.user.userprofile.is_student %}
										<a href="{% url 'computer_update' computer.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
										<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{computer.id}}">
											<i class="fa fa-trash"></i> Delete</a>
										
										<div class="modal fade" id="modal-danger{{computer.id}}">
											<div class="modal-dialog modal-md">
											  <div class="modal-content ">
												<div class="modal-header bg-danger">
												  <h4 class="modal-title">Deleting <strong>{{ computer.c_affritrack_number }}</strong></h4>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <p>Are you sure you want to Delete <strong> {{ computer.c_affritrack_number }}</strong>?</p>
												</div>
												<div class="modal-footer justify-content-between">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												  <a href="{% url 'computer_delete' computer.id %}" class="btn btn-danger">Delete</a>
												</div>
											  </div>
											  <!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
						<table id="example3" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Afritrack Number</th>
									<th>Serial Number</th>
									<th> Brand</th>
									<th> Container Number</th>
									<th>Processor Type</th>
									<th>RAM Size</th>
									<th>HDD/SDD Size</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for computer in problematic %}
								<tr>
									<td>{{ computer.c_affritrack_number }}</td>
									<td>{{ computer.serial_number }}</td>
									<td>{{ computer.brand }}</td>
									<td>{{ computer.container_number }}</td>
									<td>{{ computer.processor_type }}</td>
									<td>{{ computer.memory_size }}</td>
									<td>{{ computer.storage_size }}</td>
									<td>
										<a href="{% url 'computer_detail' computer.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
										{% if not request.user.userprofile.is_student %}
										<a href="{% url 'computer_update' computer.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
										<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{computer.id}}">
											<i class="fa fa-trash"></i> Delete</a>
										
										<div class="modal fade" id="modal-danger{{computer.id}}">
											<div class="modal-dialog modal-md">
											  <div class="modal-content ">
												<div class="modal-header bg-danger">
												  <h4 class="modal-title">Deleting <strong>{{ computer.c_affritrack_number }}</strong></h4>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <p>Are you sure you want to Delete <strong> {{ computer.c_affritrack_number }}</strong>?</p>
												</div>
												<div class="modal-footer justify-content-between">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												  <a href="{% url 'computer_delete' computer.id %}" class="btn btn-danger">Delete</a>
												</div>
											  </div>
											  <!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
						<table id="example4" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Afritrack Number</th>
									<th>Serial Number</th>
									<th> Brand</th>
									<th> Container Number</th>
									<th>Processor Type</th>
									<th>RAM Size</th>
									<th>HDD/SDD Size</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for computer in ewaste %}
								<tr>
									<td>{{ computer.c_affritrack_number }}</td>
									<td>{{ computer.serial_number }}</td>
									<td>{{ computer.brand }}</td>
									<td>{{ computer.container_number }}</td>
									<td>{{ computer.processor_type }}</td>
									<td>{{ computer.memory_size }}</td>
									<td>{{ computer.storage_size }}</td>
									<td>
										<a href="{% url 'computer_detail' computer.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
										{% if not request.user.userprofile.is_student %}
										<a href="{% url 'computer_update' computer.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
										<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{computer.id}}">
											<i class="fa fa-trash"></i> Delete</a>
										
										<div class="modal fade" id="modal-danger{{computer.id}}">
											<div class="modal-dialog modal-md">
											  <div class="modal-content ">
												<div class="modal-header bg-danger">
												  <h4 class="modal-title">Deleting <strong>{{ computer.c_affritrack_number }}</strong></h4>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <p>Are you sure you want to Delete <strong> {{ computer.c_affritrack_number }}</strong>?</p>
												</div>
												<div class="modal-footer justify-content-between">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												  <a href="{% url 'computer_delete' computer.id %}" class="btn btn-danger">Delete</a>
												</div>
											  </div>
											  <!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="custom-tabs-one-settings1" role="tabpanel" aria-labelledby="custom-tabs-one-settings1-tab">
						<table id="example5" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Afritrack Number</th>
									<th>Serial Number</th>
									<th> Brand</th>
									<th> Container Number</th>
									<th>Processor Type</th>
									<th>RAM Size</th>
									<th>HDD/SDD Size</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for computer in dispatched %}
								<tr>
									<td>{{ computer.c_affritrack_number	 }}</td>
									<td>{{ computer.serial_number }}</td>
									<td>{{ computer.brand }}</td>
									<td>{{ computer.container_number }}</td>
									<td>{{ computer.processor_type }}</td>
									<td>{{ computer.memory_size }}</td>
									<td>{{ computer.storage_size }}</td>
									<td>
										<a href="{% url 'computer_detail' computer.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
										{% if request.user.is_superuser %}
										<a href="{% url 'computer_update' computer.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
										<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{computer.id}}">
											<i class="fa fa-trash"></i> Delete</a>
										
										<div class="modal fade" id="modal-danger{{computer.id}}">
											<div class="modal-dialog modal-md">
											  <div class="modal-content ">
												<div class="modal-header bg-danger">
												  <h4 class="modal-title">Deleting <strong>{{ computer.c_affritrack_number }}</strong></h4>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <p>Are you sure you want to Delete <strong> {{ computer.c_affritrack_number }}</strong>?</p>
												</div>
												<div class="modal-footer justify-content-between">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												  <a href="{% url 'computer_delete' computer.id %}" class="btn btn-danger">Delete</a>
												</div>
											  </div>
											  <!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="custom-tabs-one-settings2" role="tabpanel" aria-labelledby="custom-tabs-one-settings1-tab">
						<table id="example6" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Afritrack Number</th>
									<th>Serial Number</th>
									<th> Brand</th>
									<th> Container Number</th>
									<th>Processor Type</th>
									<th>RAM Size</th>
									<th>HDD/SDD Size</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for computer in computers_list %}
								<tr>
									<td>{{ computer.c_affritrack_number	 }}</td>
									<td>{{ computer.serial_number }}</td>
									<td>{{ computer.brand }}</td>
									<td>{{ computer.container_number }}</td>
									<td>{{ computer.processor_type }}</td>
									<td>{{ computer.memory_size }}</td>
									<td>{{ computer.storage_size }}</td>
									<td>
										<a href="{% url 'computer_detail' computer.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
										{% if request.user.is_superuser %}
										<a href="{% url 'computer_update' computer.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
										<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{computer.id}}">
											<i class="fa fa-trash"></i> Delete</a>
										
										<div class="modal fade" id="modal-danger{{computer.id}}">
											<div class="modal-dialog modal-md">
											  <div class="modal-content ">
												<div class="modal-header bg-danger">
												  <h4 class="modal-title">Deleting <strong>{{ computer.c_affritrack_number }}</strong></h4>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <p>Are you sure you want to Delete <strong> {{ computer.c_affritrack_number }}</strong>?</p>
												</div>
												<div class="modal-footer justify-content-between">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												  <a href="{% url 'computer_delete' computer.id %}" class="btn btn-danger">Delete</a>
												</div>
											  </div>
											  <!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="custom-tabs-one-settings3" role="tabpanel" aria-labelledby="custom-tabs-one-settings3-tab">
						<table id="example6" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Afritrack Number</th>
									<th>Serial Number</th>
									<th> Brand</th>
									<th> Container Number</th>
									<th>Processor Type</th>
									<th>RAM Size</th>
									<th>HDD/SDD Size</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for computer in not_received %}
								<tr>
									<td>{{ computer.c_affritrack_number	 }}</td>
									<td>{{ computer.serial_number }}</td>
									<td>{{ computer.brand }}</td>
									<td>{{ computer.container_number }}</td>
									<td>{{ computer.processor_type }}</td>
									<td>{{ computer.memory_size }}</td>
									<td>{{ computer.storage_size }}</td>
									<td>
										<a href="{% url 'computer_detail' computer.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
										{% if not request.user.userprofile.is_student %}
										<a href="{% url 'computer_update' computer.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
										<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{computer.id}}">
											<i class="fa fa-trash"></i> Delete</a>
										
										<div class="modal fade" id="modal-danger{{computer.id}}">
											<div class="modal-dialog modal-md">
											  <div class="modal-content ">
												<div class="modal-header bg-danger">
												  <h4 class="modal-title">Deleting <strong>{{ computer.c_affritrack_number }}</strong></h4>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <p>Are you sure you want to Delete <strong> {{ computer.c_affritrack_number }}</strong>?</p>
												</div>
												<div class="modal-footer justify-content-between">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												  <a href="{% url 'computer_delete' computer.id %}" class="btn btn-danger">Delete</a>
												</div>
											  </div>
											  <!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				  </div>
				</div>
				<!-- /.card -->
			  </div>
			</div>
		
	</div>
</div>


{% endblock content %}