{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="card card-secondary">
	<div class="card-header">
		<h1 class="card-title mt-1">Camara Department Positions List</h1>
		<a href="{% url 'position_add' %}" class="btn btn-success btn-sm float-right"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Position</a>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Department Hub Name</th>
					<th>Department Name</th>
					<th>Position Name</th>
					<!-- <th>Position Description</th> -->
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for positions in position_list %}
				<tr>
					<td>{{ positions.hub }}</td>
					<td>{{ positions.department }}</td>
					<td>{{ positions.position_name }}</td>
					<!-- <td>{{ positions.position_description|safe }}</td> -->
					<td>
						<a href="{% url 'position_detail' positions.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
        				<a href="{% url 'position_update' positions.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
						<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{positions.id}}">
							<i class="fa fa-trash"></i> Delete</a>
						
						<div class="modal fade" id="modal-danger{{positions.id}}">
							<div class="modal-dialog modal-lg">
							  <div class="modal-content ">
								<div class="modal-header bg-danger">
								  <h4 class="modal-title">Deleting Position <strong>{{ positions.position_name }}</strong></h4>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								  <p>Are you sure you want to Delete <strong> {{ positions.position_name }}</strong> position from <strong>{{ positions.department }}</strong> Department?</p>
								</div>
								<div class="modal-footer justify-content-between">
								  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								  <a href="{% url 'position_delete' positions.id %}" class="btn btn-danger">Delete</a>
								</div>
							  </div>
							  <!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endblock content %}