{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="card card-secondary">
	<div class="card-header">
		<h1 class="card-title mt-1">Camara Monitors List</h1>
		<a href="{% url 'monitor_add' %}" class="btn btn-success btn-sm float-right ml-2"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Monitor</a>
		<a href="{% url 'monitor_upload' %}" class="btn btn-success btn-sm float-right"><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload Monitor</a>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Hub</th>
					<th>Afritrack Number</th>
					<th>Serial Number</th>
					<th>Brand</th>
					<th>Container Number</th>
					<th>Screen Size</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for monitor in monitors_list %}
				<tr>
					<td>{{ monitor.hub }}</td>
					<td>{{ monitor.m_affritrack_number }}</td>
					<td>{{ monitor.serial_number }}</td>
					<td>{{ monitor.brand }}</td>
					<td>{{ monitor.container_number }}</td>
					<td>{{ monitor.screen_size }}</td>
					<td>
						<a href="{% url 'monitor_detail' monitor.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
        				<a href="{% url 'monitor_update' monitor.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
						<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{monitor.id}}">
							<i class="fa fa-trash"></i> Delete</a>
						
						<div class="modal fade" id="modal-danger{{monitor.id}}">
							<div class="modal-dialog modal-md">
							  <div class="modal-content ">
								<div class="modal-header bg-danger">
								  <h4 class="modal-title">Deleting <strong>{{ monitor.m_affritrack_number }}</strong></h4>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								  <p>Are you sure you want to Delete <strong> {{ monitor.m_affritrack_number }}</strong>?</p>
								</div>
								<div class="modal-footer justify-content-between">
								  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								  <a href="{% url 'monitor_delete' monitor.id %}" class="btn btn-danger">Delete</a>
								</div>
							  </div>
							  <!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endblock content %}