{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card card-secondary">
	<div class="card-header">
	<h3 class="card-title">Adding Monitor</h3>
	</div>
	<form method="POST" >
	{% csrf_token %}
	<div class="card-body">
		<div class="row">

			<div class="form-group col-md-3">
				<label for="hub" class="from-control">Please select your Hub</label>
				<select name="hub" id="id_hub" class="form-control">
					<option selected="selected" disabled>------------Select One------------</option>
					{% for hub in hubs %}
					<option value="{{hub.id}}">{{hub.hub_name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-md-3">
				{{monitor_add_form.m_affritrack_number|as_crispy_field}}
			</div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3">
				{{monitor_add_form.serial_number|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{monitor_add_form.brand|as_crispy_field}}
			</div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3">
				{{monitor_add_form.donor_id|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{monitor_add_form.container_number|as_crispy_field}}
			</div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3">
				{{monitor_add_form.device_status|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{monitor_add_form.supplier|as_crispy_field}}
			</div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3">
				{{monitor_add_form.screen_size|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{monitor_add_form.date_received|as_crispy_field}}
			</div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3"></div>
			<div class="form-group col-md-3">
				{{monitor_add_form.working_status|as_crispy_field}}
			</div>
		</div>
	</div>
	<div class="card-footer">
		<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Monitor</button>
		<a class="btn btn-danger" href="{% url 'computer_list' %}"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
	</div>
	</form>
</div>
{% endblock content %}
