{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- <div class="row">
    <div class="col-sm-12"> -->
		<div class="card card-secondary">
		  <div class="card-header">
		    <h3 class="card-title">Change Password <strong></strong></h3>
		  </div>
		  <form method="POST">
		  	{% csrf_token %}
		    <div class="card-body">
		    	<div class="row">
					<div class="form-group col-md-3">
                        {{form.old_password|as_crispy_field}}
                    </div><div class="form-group col-md-9"></div>
                    <div class="form-group col-md-3">
                        {{form.new_password1|as_crispy_field}}
                    </div><div class="form-group col-md-9"></div>
                    <div class="form-group col-md-3">
                        {{form.new_password2|as_crispy_field}}
                    </div>
                   
		    	</div>
		    </div>
		    <div class="card-footer">
		      <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Update Password</button>
			  <a href="{% url 'user_list' %}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</a>
		    </div>
		  </form>
		</div>
<!-- 	</div>
</div> -->
{% endblock content %}

