{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- <div class="row">
    <div class="col-sm-12"> -->
		<div class="card card-secondary">
		  <div class="card-header">
		    <h3 class="card-title">Updating User Profile <strong>{{obj2.first_name}} {{obj2.last_name}}</strong></h3>
		  </div>
		  <form method="POST">
		  	{% csrf_token %}
		    <div class="card-body">
		    	<div class="row">
					<div class="form-group col-md-3">
                        {{user_profile_update_form.hub|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.department|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.position|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_code|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_personal_email|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_hired_date|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_employement_type|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_gender|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_phone_number|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_education_level|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_birth_date|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_contact_name|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_contact_phone_number|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_contact_email|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3">
                        {{user_profile_update_form.user_contact_relationship|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-6">
                        {{user_profile_update_form.user_contact_address|as_crispy_field}}
                    </div>
		    	</div>
		    </div>
		    <div class="card-footer">
		      <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Update User Profile</button>
			  <a href="{% url 'user_list' %}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</a>
		    </div>
		  </form>
		</div>
<!-- 	</div>
</div> -->
{% endblock content %}

