{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="card card-secondary">
	<div class="card-header">
		<h1 class="card-title mt-1">Sub Counties/Zone List</h1>
		<a href="{% url 'sub_county_zone_add' %}" class="btn btn-success btn-sm float-right"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Sub County/Zone</a>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>County/Region Name</th>
					<th>Sub County/Zone Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for sub_county_zone in sub_county_zone_list %}
				<tr>
					<td>{{ sub_county_zone.county_or_region_name }}</td>
					<td>{{ sub_county_zone.sub_county_or_Zone_name }}</td>
					<td>
						<a href="{% url 'sub_county_zone_detail' sub_county_zone.id %}" class="btn btn-success btn-xs"><i class="fa fa-info-circle"></i> View</a>&nbsp;
        				<a href="{% url 'sub_county_zone_update' sub_county_zone.id %}" class="btn btn-warning btn-xs "><i class="fa fa-pencil-alt"></i> Edit</a>&nbsp;
						<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-danger{{sub_county_zone.id}}"><i class="fa fa-trash"></i> Delete</a>
						<div class="modal fade" id="modal-danger{{sub_county_zone.id}}">
							<div class="modal-dialog modal-md">
							  <div class="modal-content ">
								<div class="modal-header bg-danger">
								  <h4 class="modal-title">Deleting <strong>{{ sub_county_zone.sub_county_or_Zone_name }}</strong></h4>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								  <p>Are you sure you want to Delete <strong> {{ sub_county_zone.sub_county_or_Zone_name }}</strong>?</p>
								</div>
								<div class="modal-footer justify-content-between">
								  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								  <a href="{% url 'sub_county_zone_delete' sub_county_zone.id %}" class="btn btn-danger">Delete</a>
								</div>
							  </div>
							  <!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endblock content %}