{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Updating Donor</h3>
  </div>
  <form method="POST">
  	{% csrf_token %}
    <div class="card-body">
    	<div class="row">
			<div class="form-group col-md-3">
				{{partner_update_form.partner_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{partner_update_form.partner_country|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{partner_update_form.partner_adress|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{partner_update_form.key_contact_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{partner_update_form.key_contact_email|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{partner_update_form.partner_website|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{partner_update_form.partnership_start|as_crispy_field}}
			</div>
			<div class="form-group col-md-6">
				{{partner_update_form.partner_description|as_crispy_field}}
			</div>
			<div class="form-group col-md-6">
				{{partner_update_form.areas_of_patnership|as_crispy_field}}
			</div>
    	</div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Update Partner</button>
	  <a href="{% url 'partner_list' %}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</a>
    </div>
  </form>
</div>
{% endblock content %}