{% load static %}
{% if dashboard_open_menu %}
        <li class="nav-item {{dashboard_open_menu}}">
          <a href="#" class="nav-link {{dashboard_open_menu_active}}" style="background-color: #82bc00;">
            <i class="nav-icon fas fa fa-tachometer-alt" ></i>
            <p> Dashboard</p>
          </a>
          <ul class="nav nav-treeview" style="background-color: #6c757d;">
            {% if computer_dashboard_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link {{computer_dashboard_nav_link_active}}">
                    <i class="nav-icon fas fa fa-chart-line" style="color: #82bc00;"></i><p> Computer</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">
                    <i class="nav-icon fas fa fa-chart-line" style="color: #82bc00;"></i><p> Computer</p></a>
              </li>
            {% endif %}
          </ul>
        </li>
      {% else %}
      <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa fa-chart-line" style="color: #82bc00;"></i>
          <p> Dashboard</p>
        </a>
        <ul class="nav nav-treeview" style="background-color: #6c757d;">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
                <i class="nav-icon fas fa fa-chart-line" style="color: #82bc00;"></i><p> Computer</p></a>
          </li>
        </ul>
      </li>
      {% endif%}