{% load static %}
{% if dispatch_open_menu %}
        <li class="nav-item {{dispatch_open_menu}}">
          <a href="#" class="nav-link {{dispatch_open_menu_active}}" style="background-color: #82bc00;">
            <i class="nav-icon fas fa fa-dolly" ></i>
            <p> Dispatch</p>
          </a>
          <ul class="nav nav-treeview" style="background-color: #6c757d;">
            {% if applicant_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'dispatch:applicant_list' %}" class="nav-link {{applicant_nav_link_active}}">
                    <i class="nav-icon fas fa fa-user-tie" style="color: #82bc00;"></i><p> Computer Applicant</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'dispatch:applicant_list' %}" class="nav-link">
                    <i class="nav-icon fas fa fa-user-tie" style="color: #82bc00;"></i><p> Computer Applicant</p></a>
              </li>
            {% endif %}

            {% if computer_request_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'dispatch:computer_request_list' %}" class="nav-link {{computer_request_nav_link_active}}">
                    <i class="nav-icon fas fa fa-question-circle" style="color: #82bc00;"></i><p> Computer Request</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'dispatch:computer_request_list' %}" class="nav-link">
                    <i class="nav-icon fas fa fa-question-circle" style="color: #82bc00;"></i><p> Computer Request</p></a>
              </li>
            {% endif %}

          <!--   {% if position_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'position_list' %}" class="nav-link {{position_nav_link_active}}">
                    <i class="nav-icon fas fa fa-tasks" style="color: #82bc00;"></i><p> Positions</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'position_list' %}" class="nav-link">
                    <i class="nav-icon fas fa fa-tasks" style="color: #82bc00;"></i><p> Positions</p></a>
              </li>
            {% endif %}

            {% if user_nav_link_active %}
            <li class="nav-item">
              <a href="{% url 'user_list' %}" class="nav-link {{user_nav_link_active}}">
                  <i class="nav-icon fa fa-users" style="color: #82bc00;"></i><p> Users</p></a>
            </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'user_list' %}" class="nav-link">
                    <i class="nav-icon fa fa-users" style="color: #82bc00;"></i><p> Users</p></a>
              </li>
            {% endif %} -->
          </ul>
        </li>
      {% else %}
      <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa fa-dolly" style="color: #82bc00;"></i>
          <!-- <img src="{% static 'dist/img/hub.png' %}"  height="35" width="35"> -->
          <p> Dispatch</p>
        </a>
        <ul class="nav nav-treeview" style="background-color: #6c757d;">
          <li class="nav-item">
            <a href="{% url 'dispatch:applicant_list' %}" class="nav-link">
                <i class="nav-icon fas fa fa-user-tie" style="color: #82bc00;"></i><p> Computer Applicant</p></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dispatch:computer_request_list' %}" class="nav-link">
                <i class="nav-icon fas fa fa-question-circle" style="color: #82bc00;"></i><p> Computer Request</p></a>
          </li>
          <!-- <li class="nav-item">
            <a href="{% url 'position_list' %}" class="nav-link">
                <i class="nav-icon fas fa fa-tasks" style="color: #82bc00;"></i><p> Positions</p></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'user_list' %}" class="nav-link">
                <i class="nav-icon fa fa-users" style="color: #82bc00;"></i><p> Users</p></a>
          </li> -->
        </ul>
      </li>
      {% endif%}