{% load static %}
{% if project_open_menu %}
        <li class="nav-item {{project_open_menu}}">
          <a href="#" class="nav-link  {{project_open_menu_active}} " style="background-color: #82bc00;">
            <img src="{% static 'dist/img/projectwhite.png' %}"  height="35" width="35" style="background-color: ffffff;">
            <!-- <i class="nav-icon fas fa-project-diagram" style="color: #ffffff;"></i> -->
            <p> Projects</p>
          </a>
          <ul class="nav nav-treeview">
            {% if project_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'project_list' %}" class="nav-link {{project_nav_link_active}}">
                    <i class="nav-icon fas fa-project-diagram" style="color: #82bc00;"></i><p> Project</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'project_list' %}" class="nav-link">
                    <i class="nav-icon fas fa-project-diagram" style="color: #82bc00;"></i>
                    <p> Project</p></a>
              </li>
            {% endif %}

           {% if donor_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'donor_list' %}" class="nav-link {{donor_nav_link_active}}">
                    <i class="nav-icon fas fa fa-hand-holding-medical" style="color: #82bc00;"></i><p> Donors</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'donor_list' %}" class="nav-link">
                    <i class="nav-icon fas fa fa-hand-holding-medical" style="color: #82bc00;"></i><p> Donors</p></a>
              </li>
            {% endif %}
 
            {% if partner_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'partner_list' %}" class="nav-link {{partner_nav_link_active}}">
                    <i class="nav-icon fas fa fa-handshake" style="color: #82bc00;"></i><p> Partners</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'partner_list' %}" class="nav-link">
                    <i class="nav-icon fas fa fa-handshake" style="color: #82bc00;"></i><p> Partners</p></a>
              </li>
            {% endif %}

            {% if project_partner_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'project_partner_list' %}" class="nav-link {{project_partner_nav_link_active}}">
                    <i class="nav-icon fas fa fa-hands-helping" style="color: #82bc00;"></i><p> Project Partners</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'project_partner_list' %}" class="nav-link">
                    <i class="nav-icon fas fa fa-hands-helping" style="color: #82bc00;"></i><p> Project Partners</p></a>
              </li>
            {% endif %}

            {% if project_donor_nav_link_active %}
              <li class="nav-item">
                <a href="{% url 'project_donor_list' %}" class="nav-link {{project_partner_nav_link_active}}">
                    <i class="nav-icon fas fa fa-funnel-dollar" style="color: #82bc00;"></i><p> Project Donor</p></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'project_donor_list' %}" class="nav-link">
                    <i class="nav-icon fas fa fa-funnel-dollar" style="color: #82bc00;"></i><p> Project Donor</p></a>
              </li>
            {% endif %}
          </ul>
        </li>
      {% else %}
      <li class="nav-item">
        <a href="#" class="nav-link">
          <img src="{% static 'dist/img/projectgreen.png' %}"  height="35" width="35">
          <!-- <i class="nav-icon fas fa-project-diagram" style="color: #82bc00;"></i> -->
          <p> Projects</p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'project_list' %}" class="nav-link">
                <!-- <i class="nav-icon fas fa fa-tasks" style="color: #82bc00;"></i> -->
                <i class="nav-icon fas fa-project-diagram" style="color: #82bc00;"></i>
                <!-- <img src="{% static 'dist/img/projectgreen.png' %}"  height="30" width="30"> -->
                <p>  Project</p></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'donor_list' %}" class="nav-link">
                <i class="nav-icon fas fa fa-hand-holding-medical" style="color: #82bc00;"></i>
                <!-- <i class="fas fa-project-diagram" style="color: #82bc00;"></i> -->
                <!-- <img src="{% static 'dist/img/projectgreen.png' %}"  height="30" width="30"> -->
                <p> Donors</p></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'partner_list' %}" class="nav-link">
                <i class="nav-icon fas fa fa-handshake" style="color: #82bc00;"></i>
                <!-- <i class="fas fa-project-diagram" style="color: #82bc00;"></i> -->
                <!-- <img src="{% static 'dist/img/projectgreen.png' %}"  height="30" width="30"> -->
                <p> Partners</p></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'project_partner_list' %}" class="nav-link">
                <i class="nav-icon fas fa fa-hands-helping" style="color: #82bc00;"></i>
                <!-- <i class="fas fa-project-diagram" style="color: #82bc00;"></i> -->
                <!-- <img src="{% static 'dist/img/projectgreen.png' %}"  height="30" width="30"> -->
                <p> Project Partners</p></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'project_donor_list' %}" class="nav-link">
                <i class="nav-icon fas fa fa-funnel-dollar" style="color: #82bc00;"></i>
                <!-- <i class="fas fa-project-diagram" style="color: #82bc00;"></i> -->
                <!-- <img src="{% static 'dist/img/projectgreen.png' %}"  height="30" width="30"> -->
                <p> Project Donor</p></a>
          </li>
        </ul>
      </li>
      {% endif%}