{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Updating Course</h3>
  </div>
  <form method="POST">
  	{% csrf_token %}
    <div class="card-body">
    	<div class="row">
			<div class="form-group col-md-3">
				{{course_update_form.hub|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.project|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_target|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_description|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_certificate|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_version|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_delivery|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_price|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_cost|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_designed_by|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{course_update_form.course_status|as_crispy_field}}
			</div>
    	</div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Update Course</button>
	  <a href="{% url 'course_list' %}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</a>
    </div>
  </form>
</div>
{% endblock content %}