{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Updating Project</h3>
  </div>
  <form method="POST">
  	{% csrf_token %}
    <div class="card-body">
    	<div class="row">
			<div class="form-group col-md-4">
		    	{{project_update_form.hub|as_crispy_field}}
		    </div>
		    <div class="form-group col-md-4">
		        {{project_update_form.project_code|as_crispy_field}}
		    </div>
		    <div class="form-group col-md-4">
		        {{project_update_form.project_name|as_crispy_field}}
		    </div>
		    <div class="form-group col-md-4">
		        {{project_update_form.project_start_date|as_crispy_field}}
		    </div>
		    <div class="form-group col-md-4">
		        {{project_update_form.project_end_date|as_crispy_field}}
		    </div>
		    <div class="form-group col-md-4">
		        {{project_update_form.project_manager|as_crispy_field}}
		    </div>
		    <div class="form-group col-md-4">
		        {{project_update_form.project_budget|as_crispy_field}}
		    </div>
		    <div class="form-group col-md-6">
		        {{project_update_form.project_description|as_crispy_field}}
		    </div>
    	</div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Update Project</button>
	  <a href="{% url 'project_list' %}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</a>
    </div>
  </form>
</div>
{% endblock content %}