{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card card-secondary">
	<div class="card-header">
	<h3 class="card-title">Computer Dispatch for School <b style="font-size: 30px;">{{obj.school_name}}</b></h3>
	</div>
    {{obj.school_name}}
	<form method="POST" id="dispatchForm" product-status-check-url="{% url 'dispatch:check_status' %}"  novalidate>
	{% csrf_token %}
	<div class="card-body">
		<div class="row">
            {% for i in c %}
			<div class="form-group col-md-3">
				<strong>PC Afritrack {{i}}:</strong>
                <input type="text" name="affritract_number" class="form-control" id="affritract_number_{{i}}">
			</div>

			<div class="form-group col-md-3">
				<strong>Monitor Afritrack {{i}}:</strong>
                <input type="text" name="affritract_number" class="form-control" id="maffritract_number_{{i}}">
			</div>
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-3"></div>

            <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script> 
            <script>
              $("#affritract_number_{{i}}").change(function () {
                var affritract_number = $(this).val();
                var url = $("#dispatchForm").attr("product-status-check-url");
                console.log( affritract_number);
                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                    data: affritract_number,      // add the country id to the GET parameters
                    success: function (pdata) {   // `data` is the return of the `load_cities` view function
                      if (count(pdata > 0)) {
                      $('##affritract_number_{{i}}').removeClass('is-valid').addClass('is-invalid');
                      $('##affritract_number_{{i}}').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
                      }
                      //$("#affritract_number_{{i}}").html(data);  // replace the contents of the city input with the data that came from the server
                    }
                  });
              });
              $("#maffritract_number_{{i}}").change(function () {
                var maffritract_number = $(this).val();
                var url = $("#dispatchForm").attr("product-status-check-url");
                console.log( maffritract_number);
                // $.ajax({                       // initialize an AJAX request
                //     url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                //     data: maffritract_number,
                //     success: function (response) {   // `data` is the return of the `load_cities` view function
                //       $("#maffritract_number_{{i}}").html(data);  // replace the contents of the city input with the data that came from the server
                //     }
                //   });
              });
            </script>
			{% endfor %}
		</div>
	</div>
	<div class="card-footer">
		<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Dispatch Computers</button>
		<a class="btn btn-danger" href="{% url 'dispatch:applicant_list' %}"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
	</div>
	</form>
  {{pdata}}
</div>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script> 
{% endblock content %}