{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card card-secondary">
	<div class="card-header">
	<h3 class="card-title">Adding Project Partner</h3>
	</div>
	<form method="POST" >
	{% csrf_token %}
	<div class="card-body">
		<div class="row">
			<div class="form-group col-md-3">
				{{project_partner_add_form.partner_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.project_name|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.start_Date|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.end_Date|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.key_contact_name_1|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.key_contact_email_1|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.key_contact_name_2|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.key_contact_email_2|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.partner_Budget|as_crispy_field}}
			</div>
			<div class="form-group col-md-3">
				{{project_partner_add_form.partner_role|as_crispy_field}}
			</div>
		</div>
	</div>
	<div class="card-footer">
		<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Project Partner</button>
		<a class="btn btn-danger" href="{% url 'project_partner_list' %}"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
	</div>
	</form>
</div>
{% endblock content %}